@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

.font-secondary{
  font-family: "Delicious Handrawn";
}


body {
  font: 1em/1.618 sans-serif;
  margin: 0;
  color: #333;
}

svg {
  max-width: 100%;
  vertical-align: middle;
}

/*
 * General utitlities
 *
 * Add general utilities like layout, type, and more to 
 * support the demonstration. 
 *
 * @since 06/07/22
 */

.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  align-items: center;
  justify-content: center;
}

.colophon {
  margin-top: 1em;
  text-align: center;
}

.colophon h2 + h4 {
  margin-top: -1em;
  color: #888;
  font-weight: normal;
}

/*
 * SVG Progress Indicator
 *
 * Set-up the indicator using SVG attributes that are 
 * supported as properties in CSS.
 *
 * @since 06/07/22
 */

.svg-pi {
  width: 100px;
  height: 100px;
  transform: rotate(-270deg); /* Fix the orientation */
}

.svg-pi-track {
  stroke: transparent;
}

.svg-pi-indicator {
  stroke: #07c;
  stroke-dasharray: 251.2px; /* DashArray = Track's or indicator's Circumference */
  stroke-linecap: round;
}

.svg-pi-track,
.svg-pi-indicator {
  cx: 50px;
  cy: 50px;
  r: 40px;
  fill: transparent;
  stroke-width: 10px;
}

/* Progress: 73% */
.svg-pi-73 .svg-pi-track {
  stroke-width: 8px;
}

.svg-pi-73 .svg-pi-indicator {
  stroke: #8e44ad;
  stroke-width: 12px;
}